<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <div>
        <form method="POST", action="{{url_for('predict.predict')}}">
            <input type="text" name='평균기온' size="50" maxlength="30" placeholder="평균기온"><br>
            <input type="text" name='최저기온' size="50" maxlength="30" placeholder="최저기온"><br>
            <input type="text" name='최고기온' size="50" maxlength="30" placeholder="최고기온"><br>
            <input type="text" name='합계일조시간' size="50" maxlength="30" placeholder="합계일조시간"><br>
            <input type="text" name='평균풍속' size="50" maxlength="30" placeholder="평균풍속"><br>
            <input type="text" name='일강수량' size="50" maxlength="30" placeholder="일강수량"><br>
            <input type="text" name='평균상대습도' size="50" maxlength="30" placeholder="평균상대습도"><br>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>

