<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST", action="{{url_for('recommand')}}">
        <input type="text" name='지역' size="50" maxlength="30" placeholder="지역"><br>
        <!-- <input type="text" name='메뉴' size="50" maxlength="30" placeholder="메뉴"><br> -->
        <button type="submit">Recommand</button>
</body>
</html>